<!-- home.html -->
{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Bootstrap CDN (Content Delivery Network) links for styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
    
    <style>
        .navlink:hover{
            border-radius: 10px;
            text-decoration-color: #68d391;
        }
        .navbar{
            background-color: #008374;
        }
    </style>
    <nav class=" navbar flex items-center justify-between p-4  bg-teal-600 text-white">
        <div class="flex items-center space-x-4">
            <img src="{% static 'images/dzologo.png' %}" alt="Icon" class="h-11 w-18">
            <a href="predict.html" class="navlink text-xl hover:no-underline hover:bg-white hover:text-green-500 hover:border hover:border-green-500 hover:rounded-full hover:h-full p-2">Application</a>
            <a href="home.html" class="navlink text-xl hover:no-underline hover:bg-white hover:text-green-500 hover:border hover:border-green-500 hover:rounded-full hover:h-full p-2">Home</a>

        </div>
        
    </nav>
</head>
<body class="bg-light">
    <div class="container mt-5">
        <h5>Rinzin Wangchuk</h5> 

        <p>With the Dzongkha Development Commission (DDC) now subsumed under the home ministry as one of its departments, many wonder about the fate of the national language. It is renamed as the Department of Culture and Dzongkha Development (DCDD).
        
        Promoting Dzongkha as the national language has come a long way as early as 1970 when His Majesty the Third Druk Gyalpo issued a Kasho to teach religion text, arts and history in schools along with modern education. That was in Choekey, classical language.
        
        On February 13 and June 17, 1971, His Majesty Jigme Dorji Wangchuck commanded the then Dzongkha advisor Lopon Nado and director of education that the school textbooks be written in simple spoken Dzongkha.
        
        One of the important milestones in the development of Dzongkha took place in September 1971 when Bhutan under the initiative of the Third Druk Gyalpo joined the United Nations and saw Dzongkha codified and declared as the national language.
        
        It seemed like there was no turning back. The 41st session of the National Assembly (NA) in 1974  resolved that the resolutions should be passed in written Dzongkha.
        
        Two years later, His Majesty’s representative to the erstwhile  ministry of development,  Her Royal Highness Ashi Dechen Wangmo Wangchuck, issued a kasho in 1976 to teach religion, arts and literature, namthar and history in Dzongkha.
        
        During the 57th session in 1982, NA resolved that the youth in the villages be taught Dzongkha.</p>
        
        
        
        <p>His Majesty the Fourth King issued a royal decree recognizing religion, literature, language, culture, traditional customs, driglam Namzha (code of etiquette)  are the integral parts of Bhutan’s identity as a sovereign nation.</p>
        
         
        
        <h3>The DDC</h3>
        
        <p>With the beginning of modern economic development in the country from the first Five-Year-Plan, the use of the English language became necessary since Bhutan had to establish relations and communicate with foreign countries. Moreover, most of the people working for the Bhutanese government on various development projects, at the time, were foreigners.
        This trend posed a threat to Dzongkha and to the culture and traditions of the country. Hence, the Fourth Druk Gyalpo commanded that the Dzongkha Development Commission be established as an autonomous body.</p>
        
        <p>It was officially established as the premier institution on May 24, 1986 and initiated the implementation of a policy of developing and promoting Dzongkha. DDC was also involved in codification and elaboration of the language.</p>
        
        
        
        <p>In 1993, His Majesty the Fourth Druk Gyalpo issued a royal edict stating that the medium of discussion of the Parliament session, the cabinet meetings and discussions, discussion of Dzongkhag Tshogdu, Thromde Tshogde, Gewog Tshogde and all other meetings, public speeches, presentations and reports should be carried out in Dzongkha. The Kasho also stated that even if there are foreigners present at such meetings, they should be informed through translation.
        
        In 2003, DDC was renamed as Dzongkha Development Authority (DDA) which was administered and managed by a secretary, according to DCDD chief Namgay Tshering.
        
        DDA became DDC  again in 2007 to function under the chairmanship of the prime minister. Officials were  tasked with promoting the use of Dzongkha, researching and publishing official dictionaries and grammar of the language; developing new lexical terminology; and developing software and fonts to support the language.</p>
        
         
        
        <h3>The challenges</h3>
        
        <p>National Policy and Strategy (NPS) of Dzongkha development and promotion approved by the 100th cabinet meeting on May 17, 2011 stated that in line with the policy, the government dedicated resources towards development of literature and the teaching and learning of Dzongkha. Despite all these, the number of Bhutanese taking interest in learning and using Dzongkha has decreased over the years. “This has inhibited the development and promotion of Dzongkha, and has, in fact, led to the present situation where people with proficiency in Dzongkha have become a rarity,” it stated.
        
        The NPS also stated that if appropriate measures are not taken to resolve this issue, in the next 10 or 15 years, the national language could suffer a major setback, which, in turn could lead to the deterioration of religion and culture which are dependent on Dzongkha for their preservation and vitality.</p>
        
        
        
        <p>To address some of the challenges, a Dzongkha development and promotion strategy was developed based on the Royal commands of the successive Monarchs, resolutions of successive National Assembly discussions, as well as government policies and laws of the country.
        
        Among 47 points, the cabinet approved in 2011, one policy to introduce and ensure all Bhutanese study basic traditional knowledge including Dzongkha grammar, moral education, and political and religious history from school level right through to university.
        
        The other strategy was to improve Dzongkha in the education system such as continuing to teach environmental studies and Dzongkha language in Dzongkha together with an English language and maths subject from classes PP to III.
        
        However, some Dzongkha experts pointed out that this policy was not implemented, which could have affected promoting Dzongkha, especially in reading and writing.
        
        The way forward</p>
        
        <p>While DDC officials are busy moving and setting up their office at the new premises of the culture department, both the director and chief of the subsumed department are optimistic to take Dzongkha forward.</p>
        
        
        
        <p>“We have already laid out a couple of plans to further promote and strengthen our national language,” director of DCDD, Nagtsho Dorji said. “Together with Dzongkha and culture, we expect to bring more coordinated and impactful results.”
        
        DCDD’s chief Namgay Tshering said that they would be doing as per the 12th Plan activities. “Although autonomous body is not there anymore, our mandate to promote the national language will not change,” he said.
        
        However, some Dzongkha experts opined that when the DDC functioning as an independent entity with separate budget could not do much in strengthening Dzongkha, expectation  to perform better today is a challenge.
        
        How relevant the national language remains in a fast changing world influenced by globalization and technology will be a challenge for Bhutan and its efforts to promote the national language – a Bhutanese identity.
        
        make this into a responsive html format</p>
        
    </div>
</body>
</html>
